<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>管理员后台</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../css/style.css" rel="stylesheet" />
</head>
<body>
<a href="/admin/change/password">密码修改</a>
<form id="uploadCourse" name="uploadCourse" method="post" onsubmit=""
             action="/admin/upload/course"
             enctype="multipart/form-data">
    <a href="/admin/download/course">模板下载</a>
    课程上传(支持xls格式): <input type="file" name="file">
    <input type="submit" name="Submit" value="上传" />
</form>
<br>
<form id="uploadStudent" name="uploadStudent" method="post" onsubmit=""
      action="/admin/upload/student"
      enctype="multipart/form-data">
    <a href="/admin/download/student">模板下载</a>
    学生账号上传(支持xls格式):  <input type="file" name="file">
    <input type="submit" name="Submit" value="上传" />
</form>
<br>
<form id="uploadTeacher" name="uploadTeacher" method="post" onsubmit=""
      action="/admin/upload/teacher"
      enctype="multipart/form-data">
    <a href="/admin/download/teacher">模板下载</a>
    教师账号上传(支持xls格式):  <input type="file" name="file">
    <input type="submit" name="Submit" value="上传" />
</form>
</body>
</html>
