<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.showtime.sign.mapper.CoursesMapper" >
  <resultMap id="BaseResultMap" type="com.showtime.sign.model.entity.Courses" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="semester" property="semester" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="classes" property="classes" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="jieci" property="jieci" jdbcType="CHAR" />
    <result column="sign_state" property="signState" jdbcType="TINYINT" />
    <result column="date" property="date" jdbcType="DATE" />
  </resultMap>

  <insert id="InsertBatch" useGeneratedKeys="true" parameterType="java.util.List">
    <selectKey resultType="long" keyProperty="id" order="AFTER">
      SELECT
      LAST_INSERT_ID()
    </selectKey>
    insert into courses (semester, number, name, classes, teacher, jieci, sign_state, date)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.semester},#{item.number},#{item.name},#{item.classes},#{item.teacher},#{item.jieci},#{item.signState},#{item.date})
    </foreach>
  </insert>
</mapper>