<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.showtime.sign.mapper.SignDetilMapper" >
  <resultMap id="BaseResultMap" type="com.showtime.sign.model.entity.SignDetil" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="student_id" property="studentId" jdbcType="BIGINT" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="sign_time" property="signTime" jdbcType="TIMESTAMP" />
    <result column="sign_state" property="signState" jdbcType="TINYINT" />
  </resultMap>
</mapper>